<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.full_name %></h1>
    <p>
      Log in at: <a href="www.owcbangalore.org">OWC Bangalore</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>