  <div class="body-info">
    <h1>Accomodations</h1>
    <table width="98%" border="0" align="center" cellpadding="5" cellspacing="0">
      <tbody>
          <tr>
              <td valign="top">
                <p>
                  Temporary Accommodation
                </p>
                  <p align="justify">
                      When you first arrive in Bangalore, you may need temporary
                      accommodation, particularly if you are still waiting for
                      your shipment to arrive. Hotels and serviced apartments are
                      available; however, hotels can prove to be the more
                      expensive option as they struggle to keep up with demand.
                      Serviced apartments are often preferable, particularly if
                      you are travelling with small children or if you anticipate
                      a lengthy stay in temporary accommodation. These come
                      furnished and with basic appliances.
                  </p>
                  <p>
                      Long-term Accommodation
                  </p>
                  <p align="justify">
                      There is a wide range of good quality expatriate rental
                      accommodations available in Bangalore. This ranges from
                      independent houses to semi-detached homes, gated compounds,
                      condominiums, and apartments. Both furnished and
                      unfurnished homes are available.
                  </p>
                  <p align="justify">
                      There is no shortage of real estate companies in the city.
                      Once the lease agreement has been signed, the agent
                      collects a fee (usually one month’s rent) from both you and
                      from the landlord. The lease agreement is usually for 11
                      months, which is renewable at the beginning of the 12th
                      month, though the lease period will be for 2 to 3 years.
                      When terminating the lease, a period of 2 months notice is
                      required.
                  </p>
                  <p>
                      Utilities:
                  </p>
                  <p>
                      For both houses and for apartments, the payment of utility
                      charges is the responsibility of the tenant.
                  </p>
                  <p>
                      Electricity:
                  </p>
                  <p align="justify">
                      The electric current is 220V AC, 50 cycles; and the
                      Euro(Continental) and Schuko plug is used. Every
                      house/apartment is allocated a certain amount of power, and
                      this often needs to be shed to prevent overloading the
                      system and the subsequent blowing of fuses. The landlord
                      may apply for additional power, but this is not always
                      granted. The purchasing of a surge protector, a UPS for
                      your computer, an emergency lamp, and some candles will
                      help to minimise the inconvenience of living with
                      fluctuating electricity levels.
                  </p>
                  <p align="justify">
                      For U.S. expats, it is a good idea to buy some transformers
                      before leaving home if you intend to bring US appliances
                      with you. Check your appliances for a 110V to 250V rating,
                      as some appliances and cords are now being manufactured to
                      run on both voltages, needing only a plug adapter to
                      operate in other countries. Most appliances are now
                      available locally; but some are in short supply, can be
                      expensive, and cannot be used back in the States.
                  </p>
                  <p align="justify">
                      Water:
                  </p>
                  <p align="justify">
                      The supply of water in Bangalore is fairly reliable;
                      however, rooftop reservoir tanks can ensure a better
                      supply. For the safety of you and your family, it is
                      advisable to install a water filter/purifier system in your
                      home. They can be purchased at any larger appliance store
                      in Bangalore. Hot water is rarely provided in the kitchen
                      so hot water geysers for the kitchen and bathrooms may need
                      to be requested from the landlord prior to you taking up
                      occupancy.
                  </p>
                  <p align="justify">
                      Telephones:
                  </p>
                  <p align="justify">
                      Before you move into your home, make sure that you have a
                      telephone line, as applying for one is often a very lengthy
                      process. If however, you do not have one, apply to the
                      Karnataka Telecommunications Department. Your landlord
                      should be able to assist you with this.
                      <br/>
                      Mobile phone providers are plentiful, and setting up a
                      phone account is a straightforward process.
                  </p>
                  <p align="justify">
                      Cooking Gas:
                  </p>
                  <p align="justify">
                      A cooking gas connection should already be in place in your
                      home. The connection comes with 2 gas cylinders. If you do
                      not have one, speak to your landlord about procuring a
                      connection.
                  </p>
                  <p align="justify">
                      Noise:
                  </p>
                  <p align="justify">
                      Bangalore is a noisy city, so to ensure a good night’s
                      sleep, check the location of mosques, temples, shops, and
                      convention halls before making a decision on a property.
                  </p>
                  <p align="justify">
                      Furniture and Furnishings:
                  </p>
                  <p align="justify">
                      If you are bringing your furniture and paintings here to
                      Bangalore, you should consider the climate. It is hot,
                      humid, and very dusty. Many rented homes do not provide
                      window treatments, but a wide variety of fabrics and
                      ready-made treatments are available in several sizes. It is
                      very easy to have custom window treatments made at a
                      reasonable price.
                  </p>
              </td>
          </tr>
      </tbody>
    </table>
</div>

