 <div class="body-info">

      <p>
        The currency in India is the Rupee (Rs), and one rupee is comprised of 100
        paise (p). Many well-known banks operate in Bangalore, including:
    </p>
    <p align="justify">
        Citibank
        <br/>
        HSBC
        <br/>
        Ing Vysya
        <br/>
        HDFC
        <br/>
        ICICI – one of India’s largest consumer banks
        <br/>
        <br/>
        Credit cards are accepted in most of the larger shops, hotels, and
        restaurants. ATMs can be found all over the city.
        <br/>
        <strong>Opening a bank account: </strong>
        Only one checking account per person is allowed under Indian Foreign
        Exchange laws. This enables the expatriate to deposit his paycheck or to
        remit his salary (received in foreign exchange overseas) to India through
        his account. No other money can be deposited in this account. To open an
        account you will need:
    </p>
    <ul>
        <li>
            Copy of your passport
        </li>
        <li>
            Copy of your visa
        </li>
        <li>
            Passport-size photograph
        </li>
        <li>
            Proof of residence in India
        </li>
        <li>
            Completed application forms
        </li>
        <li>
            A letter of reference from your employer
        </li>
        <li>
            A minimum deposit
        </li>
        <li>
            NRI Permit (received from Foreigners Regional Registration officer,
            obtained within two weeks of your arrival)
        </li>
    </ul>

</div>

