 <div class="body-info">

    <h1>Healthcare</h1>
    <table width="98%" border="0" align="center" cellpadding="5" cellspacing="0">
      <tbody>
          <tr>
              <td valign="top">
                  <p>
                      Consultation with a family doctor prior to coming to
                      Bangalore is advisable to determine which vaccinations
                      and/or medications are recommended. These may include:
                  </p>
                  <blockquote>
                      <p>
                          <strong>
                              Tetanus and Diphtheria
                              <br/>
                              Typhoid
                              <br/>
                              Hepatitis A and B
                              <br/>
                              Cholera
                              <br/>
                              Anti-malaria medication
                              <br/>
                              Worming tablets
                          </strong>
                      </p>
                      <p>
                          For more specific information concerning immunisations,
                          refer to
                          <a href="http://www.cdc.gov/travel/" target="_blank">
                              Travellers' Health | CDC
                          </a>
                          .
                      </p>
                  </blockquote>
                  <ul>
                      <li>
                          <div align="justify">
                              Insects in India transmit several diseases. To
                              minimise risks here, people use insect repellent
                              (particularly when sitting out in the evenings),
                              and some use bed nets, although many rely on their
                              air-conditioners to ward off mosquitoes. Window
                              screens are now readily available here, too.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              Disease is also spread through contaminated water.
                              It is advisable to use only bottled or filtered
                              water. This also applies when washing teeth. Many
                              of us have installed a water filtration system in
                              the home, which provides safe drinking water.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              All fresh fruit and vegetables should be washed
                              thoroughly. All meat and fish should be cooked
                              before consumption.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              Fresh milk should be boiled for 5 minutes and then
                              cooled and stored in the refrigerator. However,
                              long-life milk is now available, which is safe to
                              consume without boiling.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              Public toilet facilities are often of a very low
                              standard. Avoid using them if possible, and always
                              carry paper tissues and wet wipes.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              A well-stocked medical kit at home and/or in the
                              car is recommended.
                          </div>
                      </li>
                      <li>
                          <div align="justify">
                              As in all hot climates, dehydration is a common
                              occurrence for newcomers. This can cause fatigue,
                              dizziness, and stomach-ache, and can lead to
                              diarrhoea. Carry bottled water when you travel, and
                              enjoy the best local cure for dehydration, a fresh
                              lime soda salty or sweet. To prevent dehydration,
                              drink more water than you normally would in your
                              home country, even if the weather does not feel too
                              hot, or you do not notice excessive sweating. For
                              every 9 kilograms of body weight, you should drink
                              at least one glass of decaffeinated, sugar-free
                              fluids.
                          </div>
                      </li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  Medical Facilities:
                  <p>
                      Many medical professionals here in Bangalore have studied
                      and worked abroad. Several of the hospitals and clinics
                      offer comparable medical care to that found overseas and
                      usually at a fraction of the cost. A growing proportion of
                      their business is now coming from health tourism.
                      <br/>
                      <strong>Disclaimer:</strong>
                      The OWC provides this information for the benefit of its
                      members but cannot accept responsibility for the level of
                      care that you may receive at the institutions named below.
                      <br/>
                      Some of the more reputable hospitals are:
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <table width="100%" border="1" cellpadding="2" cellspacing="0">
                      <tbody>
                          <tr>
                              <td width="35%" valign="top">
                                  Columbia Asia
                                  <br/>
                                  Kirloskar Business Park
                                  <br/>
                                  Bellary Road Hebbal
                                  <br/>
                                  Tel: 5179 1000
                                  <br/>
                                  Email:
                                  <a
                                      href="mailto:information@heartlandclinics.com"
                                  >
                                      information@heartlandclinics.com
                                  </a>
                                  <br/>
                                  2 Vital Mallya Road
                                  <br/>
                                  Tel: 2227 7079 thru 2227 7997
                                  <br/>
                                  Email:
                                  <a href="mailto:info@mallyahospital.net">
                                      info@mallyahospital.net
                                  </a>
                                  <br/>
                                  Survey No. 10P &amp; 12P, Ramagondanahal,
                                  <br/>
                                  Varthur Kodi, Whitefield
                                  <br/>
                                  Tel: +91 80 6165 6666
                                  <br/>
                              </td>
                              <td width="32%">
                                  Manipal
                                  <br/>
                                  98 Rustom Bagh
                                  <br/>
                                  Airport Road
                                  <br/>
                                  Tel: 2526 4408 / 2526 6441 / 2526 8901
                                  <br/>
                                  Email:
                                  <a href="mailto:info@manipalhospital.org">
                                      info@manipalhospital.org
                                  </a>
                                  <br/>
                              </td>
                              <td width="32%">
                                  Femiint Health
                                  <br/>
                                  No. 34, (Next to Forum Value Mall)
                                  <br/>
                                  Whitefield Main Road,
                                  <br/>
                                  Bangalore 560066
                                  <br/>
                                  Tel: 080 4932 1111
                                  <br/>
                                  Email:
                                  <a href="mailto:care@femiinthealth.com">
                                      care@femiinthealth.com
                                  </a>
                                  <br/>
                                  Website:
                                  <a
                                      href="http://www.owcbangalore.org/www.femiinthealth.com"
                                  >
                                      www.femiinthealth.com
                                  </a>
                                  <br/>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  Sagar Apollo
                                  <br/>
                                  44/54 30th Cross-
                                  <br/>
                                  Tilaknagar Main Road
                                  <br/>
                                  Jayanagar Extension
                                  <br/>
                                  Tel: 2653 6700
                                  <br/>
                                  Fax: 2653 6714
                                  <br/>
                              </td>
                              <td>
                                  <p>
                                      Wockhardt Super Specialty Hospitals
                                      <br/>
                                      154/9 Bannerghatta Road.
                                      <br/>
                                      Opp IIM-B Bangalore –560 076
                                      <br/>
                                      Tel: 6621 4444 / 2254 4444
                                      <br/>
                                      Fax: 6621 4242
                                      <br/>
                                      Email:
                                      <a
                                          href="mailto:wockhosp@gmail.com"
                                          target="_blank"
                                      >
                                          wockhosp@gmail.com
                                      </a>
                                      <br/>
                                  </p>
                              </td>
                              <td>
                                  <p>
                                      NationWide
                                      <br/>
                                      GP/Family Doctor Services
                                      <br/>
                                      #2036, 16th Main Road, 1st Cross,
                                      <br/>
                                      HAL 2nd Stage,Indiranagar,
                                      <br/>
                                      Bangalore- 560 038,
                                      <br/>
                                      Karnataka, India
                                      <br/>
                                      Tel:+91 80 4317 1000
                                      <br/>
                                      Mobile: +91 96866 02115
                                      <br/>
                                      Fax:+91 80 2521 2577
                                      <br/>
                                      Email:
                                      <a
                                          href="mailto:info@nationwidedocs.org"
                                          target="_blank"
                                      >
                                          info@nationwidedocs.org
                                      </a>
                                      <br/>
                                      <br/>
                                  </p>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <p align="justify">
                      The
                      <a href="http://www.owcbangalore.org/publication.html">
                          OWC publication
                      </a>
                      , In and Out of Bangalore, provides a comprehensive list of
                      medical specialists ranging from Ophthalmologists to
                      Dermatologists and Gynaecologists.
                  </p>
                  <p align="justify">
                      It is recommended that a supply of prescription medicines
                      should accompany you to Bangalore until such time as you
                      can find a supply or substitute for your medications.
                      Pharmacies here in Bangalore are well-stocked, and many
                      prescription drugs are available over-the-counter for a
                      much reduced cost. The larger hospitals have 24-hour
                      pharmacies.
                  </p>
                  <p align="justify">
                      Allergies and asthma can be a problem here due to the
                      change in air quality. See your physician ahead of time to
                      ensure that you have an adequate supply of your
                      allergy/asthma medication. For those who wear contact
                      lenses, they may find their eyes drying out due to the dust
                      in the atmosphere so moisturising drops may be useful. Some
                      eye glasses shops carry imported contact lens solutions
                      such as Renu and Opti-Free.
                  </p>
                  <p align="justify">
                      Alternative medicine and homeopathy are well-developed here
                      in India. Recognised practitioners are plentiful.
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
</div>
