 <div class="body-info">
      <p>
    The family pet most certainly should be brought to Bangalore. Animals are
    very adaptable to new surroundings and can help to make the transition to
    your new life in a foreign country all the more enjoyable.
</p>
<p>
    The procedure to bring an animal into the country is relatively
    straightforward:
</p>
<ul>
    <li>
        Contact the airline to check if they transport pets to Bangalore.
        Different airlines have different policies regarding pets.
    </li>
    <li>
        An updated Veterinary Certificate is required from your country of
        departure.
    </li>
    <li>
        One month prior to travel, an anti-rabies vaccination is required.
    </li>
    <li>
        Call the Airline that the animal is travelling on, and give them the
        dimensions of the crate in which your pet will be flying.
    </li>
    <li>
        Make sure that a travel booking has been made for the pet.
    </li>
    <li>
        48 hours prior to flying, the animal must be checked by a Veterinary
        Surgeon and a letter must be issued to verify that the animal is in
        healthy condition, with no communicable diseases and can travel by air.
    </li>
    <li>
        On arrival in India, the Veterinary Certificate must be shown to the
        Customs Officer. If the certificate can be shown to the Customs
        Officer, the animal is allowed entry; however, it is often a good idea
        to have a Vet here at the airport to clear the pet into the country.
    </li>
</ul>
<p>
    The following is a list of some Vets in Bangalore, which could be contacted
    prior to your pet’s arrival into the country.
</p>
<p>
    Disclaimer: The OWC provides this information for the benefits of its
    members but cannot accept any responsibility for the level of care that
    your animal may receive while under the care of these vets.
</p>
<table width="99%" border="1" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td>
                Dr. B.C. Ramakrishna
                <br/>
                Tel: 25532636
                <br/>
                Mobile: 9845637946
            </td>
            <td>
                Dr. Amarnath
                <br/>
                Tel: 25282353
                <br/>
                Mobile: 9845042353
            </td>
            <td>
                Dr. Srikanth
                <br/>
                Tel: 26690232
                <br/>
                Mobile: 9844057919 c
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
    Boarding kennels for dogs and cats are available here in Bangalore;
    however, many pet owners opt to leave their pets with domestic staff or
    with friends when travelling.
</p>
<table width="99%" border="1" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%" height="136" valign="top">
                <p>
                    Yashbans Kennels
                    <br/>
                    Yashbans Farm
                    <br/>
                    Kyalasanahalli
                    <br/>
                    Bangalore 560077
                    <br/>
                    Tel: 2846 5321 Mobile: 98440 58080
                    <br/>
E-mail:                    <a href="mailto:yashbans@gmail.com">yashbans@gmail.com</a>
                    <br/>
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Karuna Animal Welfare Association of Bangalore
                    <br/>
                    UAS Campus
                    <br/>
                    Hebbal
                    <br/>
                    Bangalore 24
                    <br/>
                    Tel: 2341 1181
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Pet grooming</strong>
    is not well-developed as a service here in Bangalore. One reputable groomer
    is:
</p>
<p>
    Fuzzy Wuzzy Grooming Parlour
    <br/>
    Shop No.1
    <br/>
    17th F Cross off CMH Road
    <br/>
    Indiranagar II Stage
    <br/>
    Bangalore 560038
</p>
<p align="justify">
    Pet shops in Bangalore sell a wide variety of pet food (both imported and
    locally produced), toys, and grooming products as well as beds, leads, toys
    and treats. Two of the better stocked stores are:
</p>
<table width="99%" border="1" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td width="50%" height="136" valign="top">
                <p>
                    Glenands
                    <br/>
                    48 Church Street
                    <br/>
                    Off MG Road
                    <br/>
                    Bangalore 560001
                    <br/>
                    Tel: 2558 6932
                </p>
            </td>
            <td width="50%" valign="top">
                <p>
                    Or their store at:
                    <br/>
                    17th F Cross off CMH Road
                    <br/>
                    Indiranagar, ll Stage
                    <br/>
                    Bangalore 560038
                    <br/>
                    Tel: 98450 01449
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p align="justify">
    Several Veterinary Surgeons also sell pet food and pet accessories along
    with animal health pharmaceutical products from their clinics. For the
    duration of your stay in Bangalore, it is important that your pet has
    drinking water at all times. They should be de-wormed every three months
    and vaccinated annually.
</p>
</div>
