 <div class="body-info">
    <div align="justify">
    For the most up-to-date requirements on residential documentation, please
    refer to the Bangalore Foreign Registration Office website. The site
    provides you with the most comprehensive, current information, contact
    numbers, and forms. It is often most advantageous to take the help of
    someone within your company when preparing documents before and after your
    arrival. As locals, they can usually circumvent some of the bureaucracy in
    the FRO.
    </div>
    <p>
        <a
            href="http://www.bcp.gov.in/english/foreigners/index.html"
            target="_blank"
        >
            http://www.bcp.gov.in/english/foreigners/index.html
        </a>
    </p>

</div>