 <div class="body-info">
          <p>
        Most areas in India are safe; however, some regions where there is
        political unrest should be avoided. Bangalore is a rapidly growing city and
        with that comes an increase in petty crime. Some precautions that should be
        adopted to reduce this risk are as follows:
    </p>
    <ul type="disc">
        <li>
            Large amounts of cash should not be carried on your person.
        </li>
        <li>
            Be attentive to those around you when withdrawing cash at ATMs and in
            banks. Always secure your money prior to moving away from the machine
            or the teller.
        </li>
        <li>
            Avoid travelling alone, especially at night.
        </li>
        <li>
            Keep jewellery to a minimum.
        </li>
        <li>
            When staying in hotels or temporary accommodation, keep all valuables
            locked in a secure place.
        </li>
    </ul>
    <p>
        <strong>Beggars:</strong>
    </p>
    <p>
        Beggars are a fact of street life here in India. It is worth noting that
        they are often working for unscrupulous individuals. There are several ways
        of helping the underprivileged here in Bangalore through organised
    charitable foundations. Click    <a href="http://www.owcbangalore.org/charities.html">here</a> to learn more
        about the charities the OWC supports. Small snacks or coins can be given if
        you feel obliged to give “on-the-spot”; however, it is recommended to give
        just as you are leaving a place to avoid drawing a crowd (i.e. just as the
        traffic signal turns green or you leave a temple).
    </p>
    <p>
        <strong>Safety on the Roads:</strong>
    </p>
    <p>
        The roads of Bangalore are over-congested, often without lane-markings; and
        cars, auto rickshaws, cows, beggars, motorbikes, hawkers, pedestrians, and
        trucks are all vying with each other for pole position! Crossing of roads
        should be done with utmost caution, and whenever possible, cross at traffic
        lights or use over-passes. Walking on sidewalks can also be hazardous as
        many of the pavement slabs are missing or broken. Congestion on the
        sidewalks on weekends and holidays can restrict movement due to the
        increased density of pedestrians.
    </p>
    <p>
        <strong>Safety in the Home:</strong>
    </p>
    <ul type="disc">
        <li>
            All valuables should be under lock and key. Consider purchasing a safe.
        </li>
        <li>
            If you use domestic support to run errands, always request a receipt
            and the correct change.
        </li>
        <li>
            Before employing domestic support, obtain their addresses and a recent
            photograph, and check with their previous employer.
        </li>
        <li>
            If you are travelling away from home, cancel all deliveries, but do not
            advise on how long you will be absent.
        </li>
        <li>
            Be sensible in relation to leaving doors and windows open when you are
            either leaving the house for a short period of time or when you are
            working in another area of the home.
        </li>
        <li>
            Personal belongings should be insured.
        </li>
    </ul>
</div>


