 <div class="body-info">

  <div align="justify">
    Most newcomers, but not all, coming to Bangalore opt to choose an
    international school for their children. Securing a place for your children
    at these schools can be difficult, with demand sometimes outstripping
    supply. Priority should be given to reserving a place at the school, which
    best meets the needs of your children, as quickly as possible. Several of
    the International schools in Bangalore are relatively new and offer
    state-of-the art facilities.
  </div>
  <p align="justify">
    All of the schools listed below offer the International Baccalaureate or
    the Cambridge University (IGCSE, A levels and AICE) curricula or the one
    from the Education Ministry of Ontario, Canada. Most of these schools are
    also in the process of bringing in the PYP and MYP at the primary and
    middle school levels, back-to-back with the IGCSE and IB syllabi offered.
    At this time, none of the international schools listed function on the
    American system of education, but American students should be able to
    transition between the systems offered with relative ease.
  </p>
  <p align="justify">
      For those opting for local Indian schools, it should be noted that the
      admissions process is very strict. Application must be made at the time
      when the admissions process is starting. Some of the private Indian schools
      (referred to as “Public”) can be more flexible. However, class sizes can be
      large and learning is often done on a rote basis. The school year runs from
      June-March with the 1st term generally being from June till
      August/September, the 2nd term being from August/September to December, and
      the last term being January to end of March. The timing of local holidays
      may alter this somewhat.
  </p>
  <p align="justify">
      Kindergartens and Nurseries are opening up all the time. The Montessori
      method is taught, as is the Reggio-Emila method, along with more
      conventional methods, offering fun things to do in a caring and nurturing
      environment.
      <br/>
  </p>
  <table width="99%" border="1" cellpadding="3" cellspacing="0">
      <tbody>
          <tr>
              <td width="45%" valign="top">
                  <strong>SCHOOLS :</strong>
              </td>
              <td width="55%" valign="top">
              </td>
          </tr>
          <tr>
              <td valign="top">
                  Bangalore International School (BIS)
                  <br/>
                  Geddalahalli Hennur Bagalur Road
                  <br/>
                  Kothanur Post
                  <br/>
                  Tel: 2844 5852 / 2846 5060 Fax: 2846 5059
                  <br/>
                  Email:<a href="mailto:bis_blrl@vsnl.net"> bis_blrl@vsnl.net</a>
                  <br/>
              </td>
              <td valign="top">
                  Stonehill International School (No: 259/333/334/335)
                  <br/>
                  Bettahalsuru Village
                  <br/>
                  Jala Hobli
                  <br/>
                  Bengaluru North
                  <br/>
                  P.R. No: 562157
                  <br/>
                  Board Line # 080 4179 9999
                  <br/>
                  Contact Person: Amita Patel – 9964985752
                  <br/>
                  Email:
                  <a href="mailto:info@stonehillinternationalschool.org">
                      info@stonehillinternationalschool.org
                  </a>
                  <br/>
                  <a href="mailto:admissions@stonehillinternationalschool.org">
                      admissions@stonehillinternationalschool.org
                  </a>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <p>
                      Greenwood HighGreenwood High International School 8-14 Near
                      Heggondahalli, Gunjur Post, Varthur Sarjapur Road,
                      Bangalore
                      <br/>
                      #377, 3rd Block, Koramangala
                      <br/>
                      Tel: +91 80 27822888 Mb - +91 7829917657
                      <br/>
                      Email:
                      <a href="mailto:admissions@greenwoodhigh.edu.in">
                          admissions@greenwoodhigh.edu.in
                      </a>
                      <br/>
                      Website: www.greenwoodhigh.edu.in
                  </p>
              </td>
              <td valign="top">
                  Canadian International School (CIS)
                  <br/>
                  4 &amp; 20 Manchenahalli
                  <br/>
                  Yelahanka, Bangalore - 560064
                  <br/>
                  Tel: +91 80 42494444 Fax: +91 80 28564950
                  <br/>
                  Email:
                  <a href="mailto:admission@cisb.org.in">
                      admission@cisb.org.in
                  </a>
                  or <a href="mailto:info@cisb.org.in">info@cisb.org.in</a> or
                  <br/>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  Indus International School
                  <br/>
                  Billapura Cross
                  <br/>
                  Sarjapur
                  <br/>
                  Tel: 2782 3888 Fax: 2782 3850
                  <br/>
  Email:                <a href="mailto:mail@indusschool.com">mail@indusschool.com</a>
                  <br/>
                  <a href="mailto:admissions@indusschool.com">
                      admissions@indusschool.com
                  </a>
                  <br/>
              </td>
              <td valign="top">
                  The International School Bangalore (TISB)
                  <br/>
                  NAFL Valley Whitefield
                  <br/>
                  Sarjapur Road (near Dommansandra Circle)
                  <br/>
                  Dommansandra PO
                  <br/>
                  Tel: 2782 2550 Fax: 2782 2553
                  <br/>
                  Email:
                  <a href="mailto:enquiries@tisb.org;/head@tisb.ac.in">
                      enquiries@tisb.org;/head@tisb.ac.in
                  </a>
                  <br/>
              </td>
          </tr>
          <tr>
              <td>
                  Inventure Academy
                  <br/>
                  Whitefield – Sarjapur Road
                  <br/>
                  Near Dommasandra Circle
                  <br/>
                  Tel: 5697 0671 / 5531 5605 / 5531 5606
                  <br/>
                  Fax: 2559 1245
                  <br/>
                  Email:
                  <a href="mailto:admissions@inventureacademy.com">
                      admissions@inventureacademy.com
                  </a>
                  <br/>
              </td>
              <td>
                  Mallya Aditi International School
                  <br/>
                  P.O. Box 6427
                  <br/>
                  Yelahanka New Town
                  <br/>
                  Tel: 2846 2506/8, 4044 7000
                  <br/>
                  Fax: 2846 2506/7
                  <br/>
                  Email: <a href="mailto:aditiprn@vsnl.com">aditiprn@vsnl.com</a>
                  <br/>
                  <a href="mailto:sjavarjan@aditiblr.org">
                      sjavarjan@aditiblr.org
                  </a>
                  <br/>
              </td>
          </tr>
          <tr>
              <td>
                  TRIO World School
                  <br/>
                  No. 3/5, Kodigehalli Main Road
                  <br/>
                  Sahakar Nagar, Bangalore - 560 092, Karnataka
                  <br/>
                  Tel: +91-80-40611222, +91 9741124443
                  <br/>
                  Fax No.: +91-80-23551228
                  <br/>
                  Email:
                  <a href="mailto:admissions@trioworldschool.com">
                      admissions@trioworldschool.com
                  </a>
                  <br/>
              </td>
              <td>
                  <br/>
                  <br/>
                  Sharanya Narayani Inernational School
                  <br/>
                  G-5A, Ground Floor, Gamma Block, Sigma Soft Tech Park,
                  <br/>
                  Varthur Main Road, Whitefield
                  <br/>
                  Bangalore, Karnataka, India - 560066
                  <br/>
                  Office: + 91 80 4092 0952
                  <br/>
                  Admissions: +91 990 156 0066 &amp;
                  <br/>
                  +91 990 158 0066
                  <br/>
                  Email: admissions@snis.edu.in
                  <br/>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  <strong>Kindergartens &amp; Nurseries:</strong>
              </td>
              <td>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  Bright Beginnings
                  <br/>
                  Gurumahima
                  <br/>
                  R G Halli, Siddhapura
                  <br/>
                  Airport-Whitefield Main Road
                  <br/>
                  Tel: 2854 1174 Fax: 5116 2623
                  <br/>
                  Email:
                  <a href="mailto:bb_preschool@yahoo.com">
                      bb_preschool@yahoo.com
                  </a>
              </td>
              <td valign="top">
                  Headstart Montessori
                  <br/>
                  32 P 16th Main 4th Block
                  <br/>
                  (behind Chinmaya School)
                  <br/>
                  Koramangla
                  <br/>
                  Tel: 2553 7025 / 2563 3577 Fax: 5150 7323
                  <br/>
  Email:                <a href="mailto:headstart@vsnl.com">headstart@vsnl.com</a>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  Kara4Kids
                  <br/>
                  Premium, international, Infant Care, Preschool &amp; Day Care
                  Centres,
                  <br/>
                  established in Bangalore 10 years ago for Discerning Parents,
                  <br/>
                  seeking the highest international standards available in the
                  West.
                  <br/>
                  The school has 3 locations
                  <br/>
                  1. 102/7 1st Main Jayamahal Extension
                  <br/>
                  Benson Town, Bangalore 560.046
                  <br/>
                  Tel : Saher +91.97433.33601 Or 080.4096.7236/37
                  <br/>
                  2. 872/F Michael Palya Road (Near Sapna Book House)
                  <br/>
                  Off 80 Ft. Road, HAL 2nd Stage
                  <br/>
                  Indiranagar, Bangalore 560.058 Tel : Mercy +91.98440.67679 Or
                  080.4152.9035
                  <br/>
                  3. 65, IAS Officers Colony
                  <br/>
                  15th Cross, 4th Sector, HSR Layout
                  <br/>
                  Bangalore 560.034
                  <br/>
                  Tel: Meenu +91.98441.32323 Or 080.2572.6344
                  <br/>
              </td>
              <td valign="top">
                  Neev – 2 locations
                  <br/>
                  2989/C 12th Main
                  <br/>
                  HAL 2nd Stage Indiranagar
                  <br/>
                  Tel: 2526 3935 / 3090 7294
                  <br/>
                  <p>
                      Whitefield
                      <br/>
                      Email:
                      <a href="mailto:info@neevschools.com">
                          info@neevschools.com
                      </a>
                      <br/>
                  </p>
              </td>
          </tr>
          <tr>
              <td valign="top">
                  WeCare – 2 locations
                  <br/>
                  Plot no.1, N.R Enclave, E.P.I.P
                  <br/>
                  Whitefield
                  <br/>
                  Tel: 3242 8895/4152 2335
                  <p>
                      Sarjapur
                      <br/>
                      No. 19 &amp; 14, Prestige Pagasus, (Next to Total Mall)
                      <br/>
                      Sarjapur Road
                      <br/>
                      Tel: 3202 0772 / 4203 9797
                      <br/>
                      Email:
                      <a href="mailto:info@wecarelearning.com">
                          info@wecarelearning.com
                      </a>
                      <br/>
                  </p>
              </td>
              <td valign="top">
                  Legacy Early Years
                  <br/>
                  Grades Offered:
                  <br/>
                  Foundation Stages: Pre-Nursery &amp; Nursery Pre-Primary Stage:
                  Reception &amp; Year 1
                  <br/>
                  126/5/4, Siddapura Road, (Behind Palm Meadows)
                  <br/>
                  <p>
                      Varthur Hobli, Bangalore - 560 066
                      <br/>
                      Tel: +91 80 28524697, +91 9035004930
                      <br/>
                      Email:ley@lsb.edu.in
                      <br/>
                  </p>
              </td>
          </tr>
      </tbody>
  </table>
  <p>
  For a more comprehensive listing of the schools in Bangalore, refer to our    <a href="http://www.owcbangalore.org/publications.html">Publications</a>
      page and<em> In and Out of Bangalore</em>.
  </p>
</div>

