 <div class="body-info">
      <p>
    Travelling in and around Bangalore can be stressful. The safest option for
    the newcomer in getting around is hiring a car with a driver. If you decide
    to drive yourself, please note:
    </p>
    <ul>
        <li>
            <div align="justify">
                Driving is on the left side of the road, and cars are all
                right-hand drive.
            </div>
        </li>
        <li>
            <div align="justify">
                Expect heavy traffic congestion almost everywhere in Bangalore.
            </div>
        </li>
        <li>
            <div align="justify">
                Cows have the right of way: They are considered sacred in India.
                Hitting or killing a cow can have serious implications.
            </div>
        </li>
        <li>
            <div align="justify">
                Foreigners require an International driver’s licence, which is
                valid for one year. This can only be renewed in the country of
                issue. To obtain an Indian driving licence, foreigners usually need
                to do a driving test and pass a verbal examination.
            </div>
        </li>
        <li>
            <div align="justify">
                Insurance is highly recommended.
            </div>
        </li>
        <li>
            <div align="justify">
                Roads are often in poor condition in comparison to what most people
                have in developed countries.
            </div>
        </li>
        <li>
            <div align="justify">
                Avoid night driving, particularly in rural areas.
            </div>
        </li>
        <li>
            <div align="justify">
                Road accidents are commonplace. Angry mobs can sometimes gather at
                the scene of an accident demanding compensation, whether it was
                your fault or not. It is advisable to leave the scene of the
                accident, and go to the nearest police station to report the
                incident or to the nearest place of safety.
            </div>
        </li>
    </ul>
    <p>
        Transportation Methods:
    </p>
    <p align="justify">
        <strong>Taxis: </strong>
        Bangalore does not have colour-coded taxis which can be hailed on the
        streets. Most private taxis are white in colour and can either be found at
        private stands or hotels. You can also call some of the larger taxi
        services to make a reservation. Book ahead of time to avoid problems as
        there are a limited number of taxis available, particularly at peak times.
    </p>
    <p align="justify">
        <strong>Auto-Rickshaws: </strong>
        These are available everywhere and rarely need to be flagged down as they
        invariably appear alongside you as if by magic! They are metered. Current
        rates and the driver’s permit should always be on display. This can be an
        enjoyable way to see Bangalore, but your safety and health should always be
        considered before you climb into one of these vehicles because of the often
        reckless nature of the driving and the pollution levels in heavy traffic.
        At major shopping centres, there are Prepaid Auto-Rickshaw stands to ensure
        you get the most fair price.
    </p>
    <p align="justify">
        <strong>Bus Transportation: </strong>
        Public bus routes are marked in the local Kanada language. These buses are
        usually overcrowded, and they need to be flagged down. The front section of
        the bus is usually reserved for women, with men standing in the back. The
        recent arrival of a new fleet of Volvo buses offers a comfortable and
        air-conditioned journey, but they are more expensive.
    </p>
    <p align="justify">
        <strong>Rail Network: </strong>
        India has an extensive rail network. Tickets should be booked in advance,
        and air-conditioned, 1st class coach travel is recommended. “Mail” or
        “express” trains make fewer stops than “passenger” trains.
    </p>
    <p align="justify">
        <strong>Air Transport: </strong>
        International and domestic carriers service Bangalore. The airport has both
        a domestic and an international terminal, but because of space constraints,
        only those passengers travelling are allowed entry to the terminal
        buildings. A new airport is currently under construction in the north of
        the city, and this is scheduled for completion in 2008.
    </p>

</div>