<table width="95%" border="0" align="center" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td width="74%" valign="top">
                <p>
                    <strong>2.In &amp; Out of Bangalore</strong>
                </p>
                <p align="justify">
                    This guidebook provides you with general information about
                    life in Bangalore and specifically helps you find needed
                    shops and services.
                </p>
                <p>
                    <em>
                        All proceeds from the sale of the book go to charity.
                    </em>
                </p>
                <p>
                    <strong>Price for In &amp; Out of Bangalore 800 Rs</strong>
                    <br/>
                </p>
            </td>
            <td width="26%" valign="top">
                <div align="right">
                    <img
                        src="http://www.owcbangalore.org/images/inout.jpg"
                        width="150"
                        height="226"
                    />
                </div>
            </td>
        </tr>
    </tbody>
</table>
