<table width="95%" border="0" align="center" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td width="74%" valign="top">
                <p>
                    <strong>.Rangoli</strong>
                </p>
                <p align="justify">
                    The monthly newsletter for OWC members. Gives you the
                    latest regarding, social events, playgroups, activities,
                    articles of creative writing, write-ups of trips and
                    events, members’ classified ads and the OWC Advertising
                    Supplement for commericial advertising.
                </p>
            </td>
            <td width="26%" valign="top">
                <div align="right">
                    <img
                        src="http://www.owcbangalore.org/images/rangoli_pub.jpg"
                        width="150"
                        height="196"
                    />
                </div>
            </td>
        </tr>
    </tbody>
</table>
