<p>
    Other Publications
</p>
<p align="justify">
    Culturama - Understanding India, Bangalore edition. Anyone can get this
    monthly publication free-of-charge and it is also available on the net at
    <a href="http://www.globaladjustments.com/" target="_blank">
        Global Adjustments
    </a>
</p>
<p align="justify">
    A Publication which appears monthly and is free-of-charge is 080 The
    Bangalore monthly update.
</p>
<p align="justify">
    Another Publication which appears monthly and is free-of-charge is Time Out
    Bangalore. Its available on the net at
    <a href="http://www.timeoutbengaluru.net/" target="_blank">
        Time Out Bengaluru
    </a>
</p>
<br/>
<br/>
<br/>
<p>
    Books of interest when moving to or living in India:
</p>
<br/>
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top">
                <strong>Non-Fiction </strong>
                <br/>
                Culture Shock India - Gitanjali Kolanand
                <br/>
                Chasing The Monsoon - Alexander Frater
                <br/>
                The Argumentative Indian - Amartya Sen
                <br/>
                Doing Business in India For Dummies - Ranjini Manian
                <br/>
                Behind the Beautiful Forevers: Katharine Boo
                <br/>
                India: A History - John Keay
                <br/>
                Nine Lives, William Dlarymple
                <br/>
                Multiple City: Writing on Bangalore,ed. Aditi De
            </td>
            <td valign="top">
                <strong>Fiction </strong>
                <br/>
                Shantaram - Gregory David Roberts
                <br/>
                A Suitable Boy - Vikram Seth
                <br/>
                A Fine Balance - Rohinton Mistry
                <br/>
                The God of Small Things - Arundhati Roy
                <br/>
                Untouchable - Mulk Raj Anand
                <br/>
                A Passage to India, E.M. Forster
                <br/>
                White Tiger, Aravind Adiga
                <br/>
                Midnight's Children, Salman Rushdie
            </td>
        </tr>
    </tbody>
</table>
