<%= render partial: 'layouts/membership_sidebar' %>
    <div class="jumbotron">
      <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div align="left">
                    <p>
                        <strong>Membership</strong>
                        Criteria
                        <br/>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Membership is open to:</strong>
                <ul>
                    <li>
                        <strong>
                            all women (and men) who hold a foreign passport
                        </strong>
                    </li>
                    <li>
                        <strong></strong>
                        <strong>
                            those who hold an Indian passport but who have
                            lived out of the country for 10 consecutive years
                            and who have been in Bangalore not more than 1 year
                            prior to the date of application.
                        </strong>
                    </li>
                </ul>
                <p>
                    <strong>Annual Membership Fees:</strong>
                    <br/>
                    <br/>
                    For membership from 1 December 2014 to 31 March 2016:
                    Rs.5,600
                    <br/>
                    For membership from 1 January 2015 to 31 March 2016:
                    Rs.5,200
                    <br/>
                    For membership from 1 February 2015 to 31 March 2016:
                    Rs.4,800
                    <br/>
                    For membership from 1 March 2015 to 31 March 2016: Rs.4,400
                    <br/>
                    For membership from 1 April 2015 to 31 March 2016: Rs.4,000
                    <br/>
                    <br/>
                    Application forms can be printed from the link below or
                    obtained from the Coffee mornings. Applications can be
                    submitted at the Thursday Coffee morning meeting with one
                    passport size photo, passport and a copy of the passport.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    Membership Card
</p>
<br/>
<p>
    Present your card at a wide selection of venues and you will be entitled to
    a percentage discount. (Member Benefits) at the discretion of the business.
</p>
<br/>
<p>
    Please remember that this card belongs to one individual only and is
    non-transferable. This card has to presented to attend any meetings and
    event registration.
</p>
  </div>
