<%= render partial: 'layouts/header' %>
<%= render partial: 'layouts/membership_sidebar' %>
  <div id="container">
    <div class="jumbotron">
      <h1>Payment Gateway</h1>
      <p>Needs to use a member id to be able to Renew Membership for a form.</p>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
