<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
		<div id="wrapper">
			<div id="sidebar-wrapper" class="col-sm-2">
        <ul id="sidebar" class="nav nav-stacked affix">
	        <li><a href="/"><i class="fa fa-fw fa-home"></i> Home</a></li>
	        <li><%= link_to charities_list_path, :remote => true do %><span>Charities List</span><% end %></li>
	        <li><%= link_to charity_map_path, :remote => true do %><span>Charity Map</span><% end %></li>        
	      </ul>
			</div>
			<div id="main-wrapper"  class="col-md-10 pull-right">
				<div id="main">


				</div>
			</div>

		</div>
