<table width="90%" border="0" align="center" cellpadding="3" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top">
                <p>
                    <strong>Regular Social Events</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Coffee morning:
                    <br/>
                    Every Thursday morning we meet for coffee/tea at the Leela
                    Palace.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                Monthly meeting:
                <br/>
                Every second Tuesday of the month we meet up to hear an
                interesting guest speaker.
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p align="justify">
                    New Members Coffee morning:
                    <em>
                        <br/>
                    </em>
                    Third Monday of the month the newcomers meet for coffee.
                    Stay for lunch if you like to chat a little longer and
                    enjoy the great food at Olive Beach Restaurant. (open to
                    members who have recently joined the club, not open to non
                    members or potential members.)
                    <br/>
                    <br/>
                </p>
            </td>
        </tr>
        <tr>
            <td height="2					  " valign="top">
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <strong>
                        <br/>
                        Besides these regular meetings, there are several
                        activities, either for specific groups, or open to all:
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Book Club:
                    <br/>
                    Once a month we read a book and meet to discuss our
                    thoughts on it. If you enjoy reading and reviewing books,
                    please join us.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Creative Writing:
                    <br/>
                    The Creative Writing Group meets occasionally and also
                    functions as an e-group. See the products of our creative
                    writers in the Rangoli newsletter.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    English Conversation:
                    <br/>
                    This is an informal group, which will give any non-native
                    English speaker the opportunity to practice their English.
                    You do not have to be fluent in English. It is also an
                    opportunity to network and make friends. We usually meet
                    once per week directly after Thursday OWC coffee mornings
                    and have lunch in a nearby restaurant. We discuss our
                    backgrounds and our experiences with living in India, as
                    well as abroad. It is an opportunity for people to ask
                    questions concerning the English language, yet it is not a
                    formal grammar or English teaching session. If you want
                    comfortable place to practice English, we would love to
                    have you! (This group is currently looking for a
                    coordinator)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Horse Riding:
                    <br/>
                    India presents many opportunities to try new things that
                    may be cost or time prohibitive back in our home countries.
                    Horse riding is one of those activities. If you’re
                    interested in pursuing a passion for horse riding, please
                    join us. The instructors are excellent, offering classes
                    for everyone from absolute beginners to advanced riders.
                    For children, there is also a popular Pony Club that runs
                    “Own a Pony” days and “Kids Kamp” weekends.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Lunch Bunch:
                    <br/>
                    Each month club members have lunch together at an area
                    restaurant, discovering new hotspots and old Bangalore
                    secrets. Cuisines have ranged from regional Indian and
                    Japanese to Mediterranean and more. Join us as we taste our
                    way around Bangalore. Second Thursday of the month.
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Bumps and Babies:
                    <br/>
                    This group was created to help and support women who are
                    pregnant for the first time and moms who are expecting
                    again. This group is here to provide you with information
                    you may need or for answers you may be looking for.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Playgroups:
                    <br/>
                    Playgroups meet on Tuesdays and Thursdays in the homes of
                    OWC members. If you have babies or pre-school children and
                    want to meet up with others in a similar situation, this is
                    an ideal opportunity.
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Road Trip:
                    <br/>
                    If you would like to explore interesting places in and
                    around the city, this is a great activity for you. Every
                    month we visit a different venue to see what it has to
                    offer and learn a little more about our city. Previous
                    trips have included specialty shops, spas, hospitals,
                    ashrams, and more. Third Wednesday of the month.
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    Sundowners:
                    <br/>
                    This activity provides an excellent opportunity to relax
                    and meet new people. OWC members and their partners gather
                    twice a month for cocktails, light snacks, and/or dinner.
                    Join us to unwind and socialize at the end of the week (and
                    avail special OWC discounts on food and beverages). Last
                    Friday of the month.
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    Professional Women's Group:
                    <br/>
                    We meet monthly during evening hours to accommodate those
                    members who may not be able to attend OWC gatherings due to
                    their work schedules. This is a great place to network and
                    reconnect with other professionals if you are temporarily
                    out of the working world due to your Bangalore move.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    Other OWC activities include:
                    <br/>
                    Pet Club, Funky Friday, Cooking Club, Austin Bangalore,
                    Community Services of Bangalore, Bible Study, Bridge, Craft
                    Club, Wine Appreciation Club, Choir, Scrapbooking,
                    Spanish/Latin Club and more...
                </div>
            </td>
        </tr>
    </tbody>
</table>
