<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td>
                                Holidays and festivals are among some of the
                                most exciting things about the Indian
                                experience. They are vibrant expressions of the
                                depth and diversity of Indian culture. In the
                                Hindu calendar, there is a holiday for almost
                                every day of the year, although many of them
                                are not widely celebrated. Knowing about the
                                various festivals in and around Bangalore can
                                enrich your cultural experience and also help
                                you avoid severe traffic jams from time to
                                time.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table
                    width="50%"
                    border="1"
                    align="center"
                    cellpadding="2"
                    cellspacing="0"
                    id="table1"
                >
                    <tbody>
                        <tr>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#January-February"
                                    >
                                        January-February
                                    </a>
                                </div>
                            </td>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#July-August"
                                    >
                                        July-August
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#February-March"
                                    >
                                        February-March
                                    </a>
                                </div>
                            </td>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#August-September"
                                    >
                                        August-September
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#March-April"
                                    >
                                        March-April
                                    </a>
                                </div>
                            </td>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#September-October"
                                    >
                                        September-October
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#April-May"
                                    >
                                        April-May
                                    </a>
                                </div>
                            </td>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#October-November"
                                    >
                                        October-November
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#May-June"
                                    >
                                        May-June
                                    </a>
                                </div>
                            </td>
                            <td align="center">
                                <div align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#November-December"
                                    >
                                        November-December
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <p align="left">
                                    <a
                                        href="http://www.owcbangalore.org/festivals.html#June-July"
                                    >
                                        June-July
                                    </a>
                                </p>
                            </td>
                            <td align="center">
                                <div align="left">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div align="justify">
                                    <a name="#January-February">
                                        January-February
                                    </a>
                                    <br/>
                                    <strong>Makara Sankranth (Pongal)</strong>
                                    <br/>
                                    <img
                                        src="http://www.owcbangalore.org/images/sankaranti.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    Pongal is a well-known festival for South
                                    India. It marks the beginning of the
                                    harvest season. When the festival begins,
                                    families drive evil spirits from their
                                    homes to be burned on large bonfires, and
                                    then the home is whitewashed and cleaned.
                                    The family usually wears new clothes the
                                    second day of the festival and cooks the
                                    first of the harvest in new pots. Even the
                                    cows participate in the festival on the
                                    third day, receiving a lovely bath,
                                    decorations, and visit to the temple.
                                    <br/>
                                    <em>Tamil Nadu</em>
                                </div>
                                <p align="justify">
                                    <strong>Republic Day</strong>
                                    <br/>
                                    The best Republic Day celebrations take
                                    place in Delhi. It is a national holiday
                                    set aside to recognize the day that the
                                    constitution of India was set into place
                                    and India truly became a sovereign state.
                                    <br/>
                                    <em>National Holiday</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div align="justify">
                                    <a name="#February-March">
                                        February-March
                                    </a>
                                    <br/>
                                    <strong>
                                        Holi
                                        <img
                                            src="http://www.owcbangalore.org/images/image001.jpg"
                                            width="120"
                                            height="120"
                                            hspace="5"
                                            align="right"
                                        />
                                        <br/>
                                    </strong>
                                    Holi traditionally marks the end of winter
                                    for North Indians, but celebrations take
                                    place all over the country. On the day of
                                    Holi, normal cultural rules are suspended
                                    as ladies battle with men, people drink
                                    intoxicating beverages, and anyone is a
                                    fair target for colored powders and water
                                    to be thrown on them. To best enjoy Holi,
                                    go to a party, as street celebrations tend
                                    to become too rowdy. If you attend a party,
                                    wear white clothing to best display the
                                    brilliant colors. Wear old clothes on that
                                    day because the colors take several washes
                                    to disappear. Be on your guard when out in
                                    the marketplace during Holi, since anyone
                                    can throw colors on your at any time.
                                    <br/>
                                    <em>
                                        West Bengal &amp; Most of North India
                                    </em>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div align="justify">
                                    <a name="#March-April">March-April</a>
                                    <br/>
                                    <strong>
                                        Karaga
                                        <br/>
                                    </strong>
                                    <img
                                        src="http://www.owcbangalore.org/images/karagam.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    During the festival, devotees take earthen
                                    pots embodying Shakti in a night procession
                                    to the Sampangi Tank. One of the most
                                    interesting sights of the festival is the
                                    devotees balancing pots on their heads to
                                    test the strength of their character.
                                    <br/>
                                    <em>Karnataka</em>
                                </div>
                                <p align="justify">
                                    <strong>Ugadi</strong>
                                    <br/>
                                    Ugadi marks the New Year for Kannadigas
                                    (Karnataka natives). Many different deities
                                    receive honor during the festival, but
                                    Brahma is the chief deity of the
                                    celebration. The day begins with ritual
                                    baths and prayers and extends with
                                    celebrations late into the night. Houses
                                    must be cleaned, and new clothes should be
                                    purchased ahead of time, in preparation for
                                    the mango leaf decorations and colorful
                                    rangolis.
                                    <br/>
                                    <em>Karnataka</em>
                                </p>
                                <p align="justify">
                                    <strong>Easter</strong>
                                    <br/>
                                    Christians celebrate the death and
                                    resurrection of Jesus beginning with Palm
                                    Sunday. Many churches have special Good
                                    Friday programs, in addition to the Easter
                                    Sunday service.
                                    <br/>
                                    <em>All over India</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#April-May">April-May</a>
                                <br/>
                                <strong>Baisakh</strong>
                                <br/>
                                Baisakh represents the Hindu solar new year.
                                <br/>
                                <em>North India and Tamil Nadu</em>
                                <p align="justify">
                                    <strong>Pooram</strong>
                                    <br/>
                                    In Trichur, Kerala, this temple festival is
                                    celebrated with grandeur. Elephants wear
                                    spectacular decorations for the day-long
                                    musical procession. The festival ends with
                                    a magnificent fireworks display.
                                    <br/>
                                    <em>Kerala</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#May-June">May-June</a>
                                <br/>
                                <br/>
                                <strong>Buddha Purnima</strong>
                                <br/>
                                This holiday celebrates the birth,
                                enlightenment, and death of Buddha.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#June-July">June-July</a>
                                <br/>
                                <strong>Rath Yatra </strong>
                                <br/>
                                <img
                                    src="http://www.owcbangalore.org/images/rathyatra.jpg"
                                    width="120"
                                    height="120"
                                    align="right"
                                />
                                Rath Yatra marks the journey Krishna took from
                                his home to Mathura to kill his evil uncle. His
                                images, along with those of his brother and
                                sister, are paraded in the streets of Puri,
                                Orissa, on huge chariots that require 4,000
                                people to pull them!
                                <br/>
                                <em>Orissa and West Bengal</em>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div align="justify">
                                    <a name="#July-August">July-August</a>
                                    <br/>
                                    <strong>Raksha Bandhan </strong>
                                    <br/>
                                    <img
                                        src="http://www.owcbangalore.org/images/Rakhsha%20bandhan.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    Raksha Bandhan is a North Indian festival
                                    where sisters tie a rakhi, a protective
                                    colored thread, around the wrist of their
                                    brothers and close male friends. The
                                    brothers also offer gifts to their sisters
                                    in exchange for the thread.
                                    <br/>
                                    <em>
                                        All over India
                                        <br/>
                                        <br/>
                                        <br/>
                                    </em>
                                    <strong>Independence Day</strong>
                                    <br/>
                                    <img
                                        src="http://www.owcbangalore.org/images/RD.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    August 15th commemorates the day in 1947
                                    when India achieved freedom from British
                                    rule. In Bangalore, a huge program is held
                                    at Palace Grounds from 9 A.M. to 2 P.M.,
                                    complete with traditional dancing,
                                    speeches, and stunt bikers. Traffic is
                                    terrible until after 2 P.M. so avoid going
                                    to the city center prior to that time. DD1
                                    and DD2 broadcast the program on television
                                    so you can comfortably watch from home. You
                                    can find many of the national celebrations
                                    on TV as well.
                                    <br/>
                                    <em>National Holiday</em>
                                </div>
                                <p>
                                    <strong>
                                        Varamahalakshmi
                                        <br/>
                                    </strong>
                                    Celebrated mainly in Karnataka,
                                    Varamahalakshmi is a time for married women
                                    to make offerings to Mother Lakshmi in the
                                    form of garlands, cash, jewelry, etc. They
                                    pray for their families, husbands, and
                                    prosperity. A custom of the festival is to
                                    offer vermillion to at least 5 other
                                    married ladies.
                                    <br/>
                                    <em>Karnataka</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#August-September">
                                    August-September
                                </a>
                                <br/>
                                <strong>Krishna Janmashtami</strong>
                                <p>
                                    The festival celebrates the birth of
                                    Krishna, the blue-colored god. Celebrations
                                    in include special songs, dancing, and
                                    plays about the life of Krishna.
                                    <br/>
                                </p>
                                <p>
                                    <strong>Ganesh Chaturthi</strong>
                                </p>
                                <p align="justify">
                                    <img
                                        src="http://www.owcbangalore.org/images/Ganesh%20chaturthi.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    Ganesh Chaturthi, the annual festival of
                                    the elephant-headed Hindu god, is
                                    celebrated in the month of August or
                                    September. He is known as the remover of
                                    obstacles and god of auspiciousness. Ganesh
                                    Chaturthi is actually the culmination of an
                                    11-day period of prayer, rituals, and
                                    preparation of Ganeshas. Colonies purchase
                                    large communal Ganapatis, in addition to
                                    the ones in their homes, to be displayed in
                                    a special shelter where people can worship.
                                    They have elaborate processions full of
                                    dancing young men, loud music, traditional
                                    dancing and drums, firecrackers, and lovely
                                    fireworks displays. On the last day of the
                                    festival, the huge clay/gold idols are
                                    carried to local watering holes to be
                                    immersed. In Bangalore, the celebrations
                                    tend to be less than 11 days, but you can
                                    still catch a good glimpse of the festival
                                    if you venture outside on the evening of a
                                    procession. You need only listen for the
                                    pounding drums to find the route of the
                                    parade. Seeing the festival in Bangalore is
                                    a good way to experience it without being
                                    part of the over-the-top revelry you might
                                    find in Mumbai.
                                    <br/>
                                    <em>Maharashtra and Karnataka</em>
                                    <br/>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#September-October">
                                    September-October
                                </a>
                                <p>
                                    <strong>Dusshera</strong>
                                </p>
                                <p align="justify">
                                    <img
                                        src="http://www.owcbangalore.org/images/dassera.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    Celebrated all over India, only different
                                    in name, Dusshera remembers the victory of
                                    the goddess Durga over the demon Nowaddi.
                                    Each day of the festival is devoted to
                                    different goddesses, but the last days
                                    generally focus on Saraswati, goddess of
                                    learning. Craftsmen worship their tools;
                                    students worship their teachers, and
                                    musicians, their instruments.
                                    <br/>
                                    <em>All over India</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <a name="#October-November">
                                    October-November
                                </a>
                                <p align="justify">
                                    <strong>Kadalekaye Parishe</strong>
                                    <br/>
                                    The “Peanut Festival” is a festival for
                                    farmers to celebrate the groundnut crop of
                                    the year. During the holiday, farmers
                                    worship at the Bull Temple to give thanks
                                    for the crops and ask for blessings on the
                                    coming year.
                                    <br/>
                                    <em>Karnataka</em>
                                </p>
                                <p align="justify">
                                    <strong>Ramadan</strong>
                                    <br/>
                                    Ramadan is the ninth month of the Muslim
                                    calendar. It is during this month that
                                    Muslims observe the Fast of Ramadan.
                                    Lasting for the entire month, Muslims fast
                                    during the daylight hours and in the
                                    evening eat small meals and visit with
                                    friends and family. It is a time of worship
                                    and contemplation as well as a time to
                                    strengthen family and community ties.
                                    During Ramadan, the Muslim marketplaces
                                    have great sales on clothing and other
                                    goods. It is a good time to do your
                                    pre-holiday shopping at discounted rates.
                                    <br/>
                                    <em>All over India</em>
                                </p>
                                <p align="justify">
                                    <strong>Diwali</strong>
                                    <br/>
                                    <img
                                        src="http://www.owcbangalore.org/images/image005.jpg"
                                        width="120"
                                        height="120"
                                        hspace="5"
                                        align="right"
                                    />
                                    Probably the most well-known of Indian
                                    holidays, Diwali, festival of lights, marks
                                    Rama’s return to the throne after his
                                    exile. Each house is vibrantly decorated
                                    with lights and little oil lamps to guide
                                    Rama to his home. Children and adults alike
                                    play in the streets with sparklers and fire
                                    crackers. Neighbors exchange special
                                    sweets, and many shops give out sweets to
                                    their customers. Diwali is also a great
                                    time of year for shopping at heavy
                                    discounts, as stores make room for the next
                                    season’s merchandise.
                                    <br/>
                                    <em>All over India</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table
                    width="95%"
                    border="0"
                    align="center"
                    cellpadding="5"
                    cellspacing="0"
                >
                    <tbody>
                        <tr>
                            <td valign="top">
                                <p>
                                    <a name="#November-December">
                                        November-December
                                    </a>
                                </p>
                                <p>
                                    <strong>Christmas</strong>
                                    <br/>
                                    <img
                                        src="http://www.owcbangalore.org/images/christmas2.jpg"
                                        width="120"
                                        height="120"
                                        align="right"
                                    />
                                    Christians all over India celebrate the
                                    birth of Christ, often marking their homes
                                    with a lit paper star. The holiday tends to
                                    be less commercialised in India than it
                                    does in Western countries. Many families
                                    share special Christmas sweets with one
                                    another, and all the ladies wear new saris
                                    in honor of the special day.
                                    <br/>
                                    <em>All over India</em>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="174" valign="top">
            </td>
        </tr>
    </tbody>
</table>
