<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
                <h1>Overseas Women's Club of</h1>
                <h3>Bangalore</h3>
            </hgroup>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
                <h1>ಸಾಗರೋತ್ತರದಲ್ಲಿ ಮಹಿಳಾ ಕ್ಲಬ್</h1>
                <h3>ಬೆಂಗಳೂರು</h3>
            </hgroup>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
                <h1>प्रवासी महिला क्लब</h1>
                <h3>बैंगलोर</h3>
            </hgroup>
          </div>
        </div>
      </div>
    </div>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="img-circle" src="/assets/forest1.jpg">
          <h2>Sponsor 3</h2>
          <p>Sponsor information located here.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-md-4 text-center">
          <img class="img-circle" src="/assets/forest2.jpg">
          <h2>Sponsor 3</h2>
          <p>Sponsor information located here.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
        <div class="col-md-4 text-center">
          <img class="img-circle" src="/assets/forest3.jpg">
          <h2>Sponsor 3</h2>
          <p>Sponsor information located here.</p>
          <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
      </div><!-- /.row -->
    </div><!-- /container marketing -->
