
<%= render partial: 'layouts/life_sidebar' %>

    <div class="jumbotron">
      <p>
        There are several places of interest in and around Bangalore, which will
        appeal to all members of the family. Some of the more popular activities
        are as follows:
      </p>
      <blockquote>
        <p>
            Bowling
            <br/>
            Water parks
            <br/>
            Amusement parks
            <br/>
            Planetarium
            <br/>
            Horse racing
            <br/>
            Go-Karting
            <br/>
            Cinemas
            <br/>
            Golf
            <br/>
            Theatres and concerts
            <br/>
            Art galleries
            <br/>
            Arcades
            <br/>
            Cricket
            <br/>
            Outdoor pursuits, such as orienteering and mountaineering
            <br/>
            Libraries
        </p>
    </blockquote>
    <p align="justify">
        Should you wish to do some sightseeing when you arrive, Tipu’s Palace,
        Vidhana Soudha (State Legislature), the City Fort, Bangalore Palace, and
        Bull Temple are all places of interest.
    </p>
    <p align="justify">
        For a comprehensive and up-to-date listing of what’s going on in Bangalore,
        refer to the monthly publication 080 or check out the local newspapers.
    </p>
  </div>
