
<%= render partial: 'layouts/life_sidebar' %>

    <div class="jumbotron">
      <p align="justify">
    Shopping in Bangalore can be great fun, and for the newcomer, several
    familiar brands and products are available in the shops, making you feel
    instantly at home.
</p>
<p align="justify">
    The city can be divided into two main shopping areas – the Cantonment area
    (MG Road, Residency, Brigade, St. Marks, Commercial, and Infantry) and the
    City area (Majestic, City Market, Chickpet, Avenue Road, and BVK Iyengar
    Road).
</p>
<p align="justify">
    The Cantonment area is full of shopping malls, internationally known
    stores, and local Department stores such as Westside and Landmark. The City
    area is comprised of small shops and stalls where bargaining is
    commonplace, and the variety of goods on sale is overwhelming. Factory
    outlet shopping is located in Marathahalli.
</p>
<p align="justify">
    Some helpful hints for shopping in Bangalore:
</p>
<div align="justify">
    <ul>
        <li>
            Credit cards are accepted at most of the larger stores.
        </li>
        <li>
            Shops open from 10.00 A.M. to 8.30 P.M. Most of the shops are open
            seven days a week.
        </li>
        <li>
            Always insist on a bill/receipt. This will facilitate the process
            of exchange or getting a refund, should the need arise.
        </li>
        <li>
            Bargaining is an accepted practice and is expected in the smaller
            shops.
        </li>
    </ul>
</div>
<p align="justify">
    For specific shopping needs, refer to In and Out of Bangalore for a full
    and comprehensive list of recommended stores, offering everything from food
    to furniture and fittings.
</p>
  </div>
