<%= render partial: 'layouts/renew_sidebar' %>
    <div class="jumbotron">
      <p>
        Expired Membership
      </p>
      <br/>
      <p>
          If your membership has expired, please fill the renewal form after
          downloading it from the website and bring it by to the coffee morning which
          takes place every Thursday morning from 10 am to 12 noon with cash
          remittance. No other form of payment will be accepted. Renewal forms can
          also be obtained at the coffee mornings.
      </p>
      <a href="RenewForm2015.doc" target='_blank'
      title="Membership Renewal Form">
      Renew Membership Form</a>
  </div>
