// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: auto;
  width: auto;
}

body, html {
    height: 100%;
    color: black;
}

#sponsor {
  margin-bottom: auto;


}
.red{
    color:red;
    }
.form-area
{
    background-color: #97c53b;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;

	}
.wrapper{
  margin: auto;

}
.footer{
  
  background-color: #efefef;
}
.container-fluid{
  text-align: center;
}
.bot_dropdown {
  display: inline-block;

}
.sponsors {
  display: inline-block;

}
.container-fluid{
  background-color: #97c53b;
  color: white;

}

#myCarousel{
  background-color: white;
}
