.btn-success {
	margin-left: 20px;
	padding: 0px;
}
// #top_bar {
// 	margin-bottom: 10px;
// }

// // .col-md-4 {
// // 	margin-top: 10px;
// // }

// #trash {
// 	margin-right: 10px;
// }
#message_pic {
	max-height: 64px;
	max-width: 64px;
}

.spacer {
  margin-top: 20px;
}

#message_box {
	overflow: auto;
	max-height: 500px;
}
