<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="/board_members">
               Board Member's
            </a>
        </li>
        <li><a href="/"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="/chat_room"><i class="fa fa-fw fa-folder"></i> Chat Room</a></li>
        <li><a href="/member_calendar"><i class="fa fa-fw fa-folder"></i> Member Calendar</a></li>
        <li><a href="/fundraising"><i class="fa fa-fw fa-folder"></i> Fundraising</a></li>
        <li><a href="/bangalore"><i class="fa fa-fw fa-folder"></i> Bangalore</a></li>
        <li><a href="/membership"><i class="fa fa-fw fa-folder"></i> Membership</a></li>
        <li><a href="/our_work"><i class="fa fa-fw fa-folder"></i> Our Work</a></li>
        <% if user_signed_in? %>
        <li><a href="/membersOnly"><i class="fa fa-fw fa-folder"></i> Member's Only</a></li>
        <% end %>
    </ul>
</nav>
