<table border="0" cellspacing="0" cellpadding="7" width="95%" align="center">
    <tbody>
        <tr>
            <td valign="top">
                OWC funds and serves the needs of 22 charities in the greater
                Bangalore area. These charities cover a wide spectrum of the
                underprivileged, including the destitute, terminally ill and
                HIV+ patients, orphans, women in need, the elderly, and
                physically and mentally challenged individuals. There are many
                factors to consider before volunteering with a charity. It is
                important to first feel well settled in Bangalore before
                undertaking any volunteer work. You should also think carefully
                about your time constraints, the type of work you enjoy doing,
                as well as the nature and length of your commitment to doing
                volunteer work. Changing or stopping your involvement abruptly
                affects both the charities’ delivery of services, as well as
                your relationship with the clients. Finally, it is important to
                remember that volunteering is a two way process where you not
                only give to the charity but also receive unique benefits in
                terms of learning and developing new skills.
                <br/>
                Please find below the list of Charities supported by the OWC,
                the contact details, description of work and activities,
                volunteer opportunities and Eicher Bangalore town map
                reference.
                <br/>
                <strong>OWC Contact: </strong>
Please refer to the                <a href="http://www.owcbangalore.org/rangoli.php">Rangoli</a>
                for contact details of the Vice President of Charities or stop
                by the Charity Desk at the Thursday Coffee Mornings.
                <br/>
                Click here for the current funding of our charities:
                <a
                    href="http://www.owcbangalore.org/CharityArticles/Distribution_of_the_Charity_Fund.pdf"
                    target="_blank"
                >
                    <strong>
                        OWC Charity Fund Distribution
                        <br/>
                        Click here for location of OWC Charities:
                    </strong>
                </a>
                <strong>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/OWC_Charities_Map.pdf"
                        target="_blank"
                    >
                        <strong>Map of OWC Charities </strong>
                    </a>
                    <br/>
                    Click here for a listing of OWC Charities:
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/OWC_Charity_Listings_2016.pdf"
                        target="_blank"
                    >
                        <strong>OWC Charity Listings </strong>
                    </a>
                    <br/>
                    <br/>
                </strong>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <strong>
                        1. ACCEPT Society
                        <br/>
                    </strong>
                    245 K.R.C Road, (Next to Visthar), Dodda Gubbi P.O
                    <br/>
                    Bangalore, 560 077
                    <br/>
                    Tel:+91- 80 22714110, 28465802, 65990452
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:acceptindia@gmail.com">
                        acceptindia@gmail.com or rajujoyce@gmail.com
                    </a>
                    <br/>
                    <strong>Website</strong>
                    :
                    <a href="http://www.acceptindia.org/" target="_blank">
                        www.acceptindia.org
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ACCEPT_Society_2010-04.pdf"
                        target="_blank"
                    >
                        <strong>April 2010 </strong>
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Raju K. Mathew, Chairman (9448619619) or Vivian David
                    Varghese, Administrator (9036202435)
                    <br/>
                    <strong>Activities</strong>
                    : Runs an HIV/AIDS Care and Support Centre, as well as a
                    home for HIV+ orphans and focuses on awareness, care and
                    counseling, testing and medical help and support.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Medically trained volunteers needed to assist doctors and
                    nurses; to help with office work and patient care; and to
                    teach arts and crafts, English and Math, general knowledge
                    to patients and children.
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <strong>
                        <br/>
                        2. ASHA Foundation
                        <br/>
                    </strong>
                    No. 58, 3rd Main, SBM Colony, Anand Nagar,
                    <br/>
                    Bangalore, 560 024
                    <br/>
                    Tel:+91- 80 23332921
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:ashafblr@yahoo.co.in">
                        ashafblr@yahoo.co.in
                    </a>
                    <br/>
                    <strong>Website</strong>
                    :
                    <a href="http://www.ashaf.org/" target="_blank">
                        www.ashaf.org
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/Asha_Foundation2009-05.pdf"
                        target="_blank"
                    >
                        <strong>May 2009 </strong>
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/AshaSportsDay_2012-03.pdf"
                        target="_blank"
                    >
                        <strong>March 2012 </strong>
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Dr. Glory Alexander, Director
                    <br/>
                    <strong>Activities</strong>
                    : ASHA spells Action, Service and Hope for AIDS and
                    provides support and care for the HIV+/Aids community in
                    Bangalore. It operates the AIDS Hotline as well as a
                    telephone counseling service, free clinic, awareness
                    programs, and support to family members of patients.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Volunteers needed to help with fundraising; spread
                    awareness; publicity; and data entry.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : H5
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    <br/>
                    3. Asha Niketan
                    <br/>
                </strong>
                CA 7, 80 Feet Road 20th Main, 6th Block,Koramangala, Bangalore
                560 095
                <br/>
                Tel: +91- 80 25524584
                <br/>
                <strong>Email:</strong>
                <a href="mailto:ashaniketanbangalore@gmail.com">
                    ashaniketanbangalore@gmail.com
                </a>
                <br/>
                <strong>Website </strong>
                : www
                <a href="http://www.fmrindiaashaniketan.com/">
                    .fmrindiaashaniketan.com
                </a>
                <a></a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/AshaNiketan_2009-03.pdf"
                    target="_blank"
                >
                    <strong>March 2009 </strong>
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Paul Joseph
                <br/>
                <strong>Activities</strong>
                : A home and vocational center for mentally challenged men and
                women and their families. Asha Niketan is committed to teaching
                these individuals how to take care of themselves and each other
                and learn different skills such as gardening, crafts, etc.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Any help with fundraising; volunteers needed to teach craft and
                design skills such as stitching and candle making and to work
                with students in the vocational training units; help with
                fundraising, house chores and office admin; and to spend time
                with the residents and students in leisure activities.
                <br/>
                <strong>Eicher Map Reference</strong>
                : J 10
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                4. Ashraya
                <br/>
                Jawan's Quarters, BDA Park, Double Road, Indiranagar HAL Stage
                1, Bangalore 560 038
                <br/>
                Tel: +91- 80 25251929
                <br/>
                <strong>Email:</strong>
                <a href="mailto:ashchild@airtelmail.in">
                    ashchild@airtelmail.in
                </a>
                <br/>
                <strong>Website:</strong>
                <a href="http://www.nriol.com/ashraya" target="_blank">
                    www.nriol.com/ashraya
                </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/Ashraya_2011-10.pdf"
                    target="_blank"
                >
                    October 2011
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Nomita Chandy, Secretary
                <br/>
                <strong>Activities: </strong>
                Operates 7 creches throughout Bangalore, a centre for abused
                and abandoned women and a residential school for children of
                migrant labourers
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed to assist teachers or create activities and
                spend time with children at any one of the crèches.
                <br/>
                <strong>Creche locations:</strong>
                Shivajinagar, Yelahanka, Siddapura, Avalahalli, Banaswadi,
                Indirnanagar, and Arsinakunte
                <strong>
                    .
                    <br/>
                    Eicher Map Reference: K9
                    <br/>
                </strong>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <strong>
                    <br/>
                    5. Bangalore Education Trust
                </strong>
                <img
                    align="right"
                    src="http://www.owcbangalore.org/images/charities/Bangalore_Education_Trust.jpg"
                    width="180"
                    height="120"
                />
                <br/>
                No. 286 1st Allotment, Maruthinagar
                <br/>
                Yelahanka, Bangalore 560 064
                <br/>
                Ph: +91 80 22712165, +91 80 65731674
                <br/>
                <strong>Email:</strong>
                <a href="mailto:bangaloreeducationtrust@hotmail.com">
                    bangaloreeducationtrust@hotmail.com
                </a>
                <br/>
                <strong>Website:</strong>
                <a
                    href="http://www.bangaloreeducationtrust.org/home.html"
                    target="_blank"
                >
                    www.bangaloreeducationtrust.org
                </a>
                <br/>
                <strong>Contact Name:</strong>
                Mr. Nagaraj, Trustee
                <br/>
                <strong>Activities: </strong>
                Runs a free school for poor, rural children in Yelahanka and
                provides balanced meals to students.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed to help with IT support and maintenance
                (especially someone willing to be on call); and to teach
                English to pre-school children.
                <br/>
                <strong>Eicher Map Reference:</strong>
                H1
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <br/>
                <strong>6. Bangalore Hospice Trust - Karunashraya </strong>
                <br/>
                Old Airport Varthur Main Rd., Kundalahalli Gate, Marathahalli,
                Bangalore 560 037
                <br/>
                Tel: 91-80-28476133
                <br/>
                <strong>Email:</strong>
                <a href="mailto:karunashraya@vsnl.com">
                    karunashraya@vsnl.com
                </a>
                <br/>
                <strong>Website:</strong>
                <a href="http://www.karunashraya.org/" target="_blank">
                    www.karunashraya.org
                </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/Karunashrya_2011-05.pdf"
                    target="_blank"
                >
                    <strong>May 2011 </strong>
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Hema Shyam, General Manager
                <br/>
                <strong>Activities: </strong>
                Fifty bed facility with the aim of improving the quality of
                life of Advanced Stage Cancer patients. Health care
                professionals provide personal care, emotional support, respite
                care, symptom control, appropriate nutrition, and bereavement
                support. All services are provided free of cost.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed for diversional therapy (games, art,
                activities)
                <br/>
                <strong>Eicher Map Reference</strong>
                : O10
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <strong>
                        <br/>
                        7. Belaku Trust
                        <br/>
                    </strong>
                    641 Guru Krupa, 29th Main, JP Nagar Phase I, Bangalore 560
                    078
                    <br/>
                    Tel: +91- 80 26654145
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:belaku@belakutrust.org.in">
                        belaku@belakutrust.org.in
                    </a>
                    <br/>
                    <strong>Website</strong>
                    :
                    <a href="http://www.belakutrust.org/" target="_blank">
                        www.belakutrust.org
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/BelakuSummerCamp2011-10.pdf"
                        target="_blank"
                    >
                        Oct 2011
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/BelakuRoadTrip2012-01.pdf"
                        target="_blank"
                    >
                        Jan 2012
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Dr. Saraswathy Ganapathy, Director
                    <br/>
                    <strong>Activities: </strong>
                    Belaku works to improve the health and nutrition of poor
                    women and children in villages in the Kanakpura district.
                    This includes creating income generation projects for women
                    such as embroidery, paper making and block printing.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Volunteers needed to help organize village health sessions¸
                    youth training programs, women’s group projects (recycled
                    paper and block printing) and summer camps; exposure to
                    trips for village children; design programs; organize info
                    sessions; and setting up rainwater harvesters and solar
                    lighting modules.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : G12
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="right">
                    <a href="http://www.owcbangalore.org/charities.html#top">
                        <img
                            border="0"
                            alt="Go top"
                            src="http://www.owcbangalore.org/images/go_top.gif"
                            width="27"
                            height="27"
                        />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="left">
                    <strong>
                        <br/>
                        8. Deena Seva Charitable Trust
                    </strong>
                    - Little Infant Jesus Children’ s Home
                    <br/>
                    Shivaramkarranth Nagar (P.O), Deenanilaya Kothanur Post,
                    Bangalore 560 077
                    <br/>
                    Tel: +91 80 2846 5318
                    <br/>
                    <strong>E-mail</strong>
                    :
                    <a href="mailto:infantjesusc.home@gmail.com">
                        infantjesusc.home@gmail.com
                    </a>
                    <br/>
                    <strong>Contact Name:</strong>
                    Sister Prathiba , Secretary of the Trust
                    <br/>
                    <strong>Activities: </strong>
                    Deena Seva runs residential home for HIV+ children and
                    women.
                    <br/>
                    <strong>
                        Rangoli Article:
                        <a
                            href="http://www.owcbangalore.org/CharityArticles/DeenaSeva_2008-06-1.pdf"
                            target="_blank"
                        >
                            June 2008
                        </a>
                    </strong>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/DeenaSeva_2008-08.pdf"
                        target="_blank"
                    >
                        <strong>August 2008 </strong>
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/DeenaSevaSmile_2011-01.pdf"
                        target="_blank"
                    >
                        Jan 2011
                    </a>
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Teaching English, Music, Art &amp; Craftwork after school
                    3-4pm Rooms are available for those who wish to come from
                    outside Bangalore to volunteer full time(some payment
                    required to pay for living and food expenses).
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : L3
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <strong>
                    <br/>
                    9. Divine Light Trust for the Blind
                    <br/>
                </strong>
                227 Whitefield Main Road, Bangalore 560 066
                <br/>
                Tel: +91 80 28452234 or +91 9448810689
                <br/>
                <strong>Email</strong>
: <a href="mailto:dltb@rediffmail.com">dltb@rediffmail.com</a>                <a href="mailto:dltb@vnsl.net">dltb@vsnl.net</a>
                <br/>
                <strong>Website</strong>
:                <a href="http://www.dltb.org/" target="_blank">www.dltb.org</a>
                <br/>
                <strong>Rangoli Article:</strong>
                <a
                    href="http://www.owcbangalore.org/CharityArticles/DivineLight_2008-07.pdf"
                    target="_blank"
                >
                    <strong>July 2008 </strong>
                </a>
                <a
                    href="http://www.owcbangalore.org/CharityArticles/DivineLight_2009-12.pdf"
                    target="_blank"
                >
                    <strong>December 2009 </strong>
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Mr. K.S. Raveendra, Secretary
                <br/>
                <strong>Activities: </strong>
                A residential school for blind and multiple disabled children,
                it also provides education and training to enable blind and
                multiple disabled children to integrate into normal schools.
                Example of trainings includes computers, horticulture,
                tailoring and healthcare.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed to teach music, dance and crafts.
                <br/>
                Eicher Map Reference: Q8
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    10. Dominican Sisters of the Presentation
                    <br/>
                </strong>
                80 Feet Road, Indiranagar
                <br/>
                Bangalore, 560 038
                <br/>
                Tel:+91- 80 25293971
                <br/>
                <strong>Email:</strong>
                <a href="mailto:jiniop@gmail.com">jiniop@gmail.com </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/DominicanSisters_2010-03.pdf"
                    target="_blank"
                >
                    March 2010
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Sr. Jini Joseph (9986481649) or Sr. Mariamma Paul
                (9449833245)
                <br/>
                <strong>Activities</strong>
                : Runs a creche for young pre-school children of construction
                and domestic workers from the slums around Indiranagar. Helps
                support over 200 older children from the Resurrection School
                and provide help with homework and a space to study after
                school. Organises and helps run children's Parliaments and
                women's self help financing groups (similar to micro credit
                groups)
                <br/>
                <strong>Volunteer Opportunities:</strong>
                Volunteers needed to help in creche (children aged 3 - 5) in
                the mornings; organize activity sessions and teaching skills;
                give tuitions and assist with homework for secondary school
                children from 3.30-5pm; and to help out in the self-help
                women's groups in the afternoons or evenings twice a month;
                help with children's parliaments after school from 4-5 pm or
                5-6 pm
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
                <strong>11. Freedom Foundation</strong>
                <strong>
                    <br/>
                </strong>
                No. 103, 1st Stage, 1st Block, HBR Layout, Bangalore 560 043
                <br/>
                Tel: +91 80-25435231
                <br/>
                <strong>Email</strong>
                : <a href="mailto:freedomg2@gmail.com">freedomg2@gmail.com</a>
                <br/>
                <strong>Website:</strong>
                <a href="http://www.thefreedomfoundation.org/" target="_blank">
                    www.thefreedomfoundation.org
                </a>
                <br/>
                <strong>Contact Name:</strong>
                Dr. Timothy Phillips, Project Manager and Senior Physician
                <br/>
                <strong>Activities:</strong>
                HIV+/AIDS clinic, small hospital and children's home providing
                care and support to HIV+ adults and also to HIV+ children, many
                of whom are orphans. They also run an alcohol and drug
                addiction residential centre.
                <br/>
                <strong>Volunteer Opportunities:</strong>
                Volunteers needed to help with fund-raising and to organize
                activity sessions for children in art, music or dance.
                <br/>
                <strong>Eicher Map Reference:</strong>
                L3
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    <br/>
                    12. Helpline Charitable Trust, Project ‘Vishwas’
                    <br/>
                </strong>
                708, 16th A Main, 38th Cross, Jayanagar IV 'T' Block
                <br/>
                Bangalore, 560 041
                <br/>
                Tel:+91- 80 26533791 or +91- 80 26630413
                <br/>
                <strong>Email:</strong>
                <a href="mailto:vyjayanthiraman@hotmail.com">
                    vyjayanthiraman@hotmail.com
                </a>
                or
                <a href="mailto:minnyjayaram@hotmail.com">
                    minnyjayaram@hotmail.com
                </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/HelplineTrust_2010-06.pdf"
                    target="_blank"
                >
                    June 2010
                </a>
                <br/>
                <strong>Contact Name:</strong>
                Vyjayanthi Raman, Trustee (9341314173), Minny Jayaram, Trustee
                (9845205338)
                <br/>
                A home for orphaned, abused and abandoned children whose main
                objective is to provide personalized care in a family setting.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed to spend time with the children tutoring them
                or being a mentor; teach skills such as spoken English, dance,
                music and painting either after school hours, on Sundays or
                during vacations.
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <br/>
                <strong>13. JAGRUTHI</strong>
                <br/>
                87/89 Rama Rishnappa Road, Cox Town Bangalore, 560 005
                <br/>
                Tel:+91- 80 2548 0979
                <br/>
                <strong>Email:</strong>
                <a href="mailto:jagru.kinder@gmail.com">
                    jagru.kinder@gmail.com
                </a>
                <br/>
                <strong>Website</strong>
                :
                <a href="http://www.jagruthi.org.in/" target="_blank">
                    www.jagruthi.org.in
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Renu Appachu, Director (9845116586)
                <br/>
                <strong>Activities :</strong>
                Operates 3 crèches and home care centres for children who are
                sexually exploited or whose parents have died of HIV. It also
                conducts HIV awareness and education programs, drop–in health
                clinics, and outreach and service to commercially and sexually
                exploited people.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                No volunteer needs at this time.
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <strong>
                        <br/>
                        14. Jeevodaya - Child Care India
                        <br/>
                    </strong>
                    No 70, (behind Petra Nilaya Convent), Kannur Village Post,
                    Bangalore East 562 149
                    <br/>
                    Tel: +91 80 25447531 / 3233
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:gerard_childcare@yahoo.com">
                        gerard_childcare@yahoo.com
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Father Gerard or Irene
                    <br/>
                    <strong>Activities:</strong>
                    Runs a home for boys who have been orphaned, abandoned or
                    come from very disadvantaged backgrounds, a school for
                    children up to Grade 5 and provides after school education
                    for 4000 deprived children across 100 deprived areas of
                    Bangalore.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Help teaching basic English conversation and/or grammar,
                    maths &amp; handwriting skills to the primary school
                    children. Any regular time during school hours of 8.45 to
                    3.50 p.m. Helping boys with homework after shool between
                    6-8 pm.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : K6
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    <br/>
                    15. Navachetana
                    <br/>
                </strong>
                F-3 Villa Ranka Colony, Bilekahalli, Bannerghetta Road,
                Bangalore 560 076
                <br/>
                Tel:+91 80 26786409
                <br/>
                <strong>Email:</strong>
                <a href="mailto:navachetanablr@yahoo.com">
                    navachetanablr@yahoo.com
                </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/Navachetana_2009-07-08.pdf"
                    target="_blank"
                >
                    July 2009
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Lissy Gregory, Secretary
                <br/>
                <strong>Activities:</strong>
                Runs a Rehabilitation Center for mentally challenged adults and
                provides both short-term and long-term care. It also provides
                training in social, occupational and vocational skills.
                <br/>
                <strong>Volunteer Opportunities: </strong>
                Volunteers needed to entertain residents and teach yoga and
                crafts.
                <br/>
                <strong>Eicher Map Reference</strong>
                : H13
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <br/>
                <strong>16. New Ark Mission - Home of Hope</strong>
                <strong>
                    <br/>
                </strong>
                Doddagubbi Village Rd, KRC Road, Next to KRC, Bangalore 562 149
                <br/>
                Tel: +91 80 65997274
                <br/>
                <strong>Email:</strong>
                <a href="mailto:newarkmissionofindia@yahoo.com">
                    newarkmissionofindia@yahoo.com
                </a>
                <br/>
                <strong>Website:</strong>
                <a href="http://www.newarkmission.org/" target="_blank">
                    www.newarkmission.org
                </a>
                <br/>
                <strong>Rangoli Article</strong>
                :
                <a
                    href="http://www.owcbangalore.org/CharityArticles/NewArkMission.pdf"
                    target="_blank"
                >
                    <strong>September 2008 </strong>
                </a>
                <a
                    href="http://www.owcbangalore.org/CharityArticles/NewArkMission_2009-09.pdf"
                    target="_blank"
                >
                    <strong>September 2009 </strong>
                </a>
                <br/>
                <strong>Contact Name</strong>
                : Mr. T. Raja, Founder/Secretary, 9845281915
                <br/>
                Runs a home for destitute and dying people who are picked up
                off the streets of Bangalore. It provides medical treatment,
                long term rehabilitation and a dignified place to end their
                days.
                <br/>
                <strong>Volunteer Opportunities:</strong>
                Volunteers needed to help bath and groom residents and to
                entertain them.
                <br/>
                <strong>Eicher Map Reference</strong>
                : M3
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    <strong>
                        <br/>
                        17. ProVISION ASIA
                        <br/>
                    </strong>
                    727 2nd Cross, 2nd Main, Chinnanna Layout, Kaval
                    Byrasandra, Bangalore 560 032
                    <br/>
                    Tel: +91-80-23541234
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:info@provisionasia.com">
                        info@provisionasia.com
                    </a>
                    <br/>
                    <strong>Website</strong>
                    :
                    <a href="http://www.provisionasia.com/">
                        www.provisionasia.com
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ProVisionAsia_2009-03.pdf"
                        target="_blank"
                    >
                        March 2009
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ProVisionAsia_2010-08.pdf"
                        target="_blank"
                    >
                        Sept 2010
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ProVisionAsia_2011-07.pdf"
                        target="_blank"
                    >
                        July 2011
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ProVisionAsia_2011-10.pdf"
                        target="_blank"
                    >
                        Oct 2011
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/ProVisionAsia_2010-12.pdf"
                        target="_blank"
                    >
                        Dec 2012
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Selvanayagam
                    <br/>
                    <strong>Activities:</strong>
                    Provision Asia works with physically challenged, blind, and
                    deaf people. It provides specialized equipment to increase
                    mobility as well as physical therapy, corrective surgery,
                    vocational training and job placement services.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Volunteers needed to help with promotion and publicity,
                    including writing articles in the local press; help with
                    quarterly camps that hand out mobility aids; help out with
                    'family playgroup' every 2nd Saturday in the month at Coles
                    Park with activities for young children.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : H6
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <br/>
                    <strong>18. Sai Shankar Loving Lights Trust</strong>
                    c/o People's Trust
                    <br/>
                    Doddaballapur Road, Arkere Post, Sriramanahalli North
                    Bangalore
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:bobji@saishankar.org">
                        bobji@saishankar.org
                    </a>
                    <br/>
                    <strong>Website</strong>
                    :
                    <a href="http://www.saishankar.org/" target="_blank">
                        www.saishankar.org
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/SaiShankar_2010-08.pdf"
                        target="_blank"
                    >
                        August 2010
                    </a>
                    <strong>
                        <a
                            href="http://www.owcbangalore.org/CharityArticles/SaiShankar_2011-04.pdf"
                            target="_blank"
                        >
                            April 2011
                        </a>
                        <br/>
                        Contact Name: Bobji Levine, Managing Trustee
                        (9845510804) or Sreeshaila (9845032141)
                        <br/>
                        Activities: Free residential program called T.R.E.P.
                        (Total Residential Education Programme) which provides
                        not only academic education but stresses Values,
                        Life-skills and Devotion for disadvantaged girls and
                        boys.
                        <br/>
                        Volunteer Opportunities: Volunteers needed to teach and
                        inspire students in English, personality development
                        and practical skills such as tailoring, sports,
                        gardening, music, computer, photography and arts. Help
                        also needed in developing and conducting special
                        weekend programs and tours.
                        <br/>
                    </strong>
                </div>
                <strong></strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    19. Sheila Kothavala Institute For the Deaf(SKID)
                    <br/>
                </strong>
                Rustum Bagh, Old Airport Road, Bangalore 560 017. Tel:
                +91-80-2526 2274
                <br/>
                <strong>Email:</strong>
                <a href="mailto:skid_71@yahoo.com">skid_71@yahoo.com</a>
                <br/>
                <strong>Rangoli Article:</strong>
                <a
                    href="http://www.owcbangalore.org/CharityArticles/SheilaKothavalaInstitute_2008-10.pdf"
                    target="_blank"
                >
                    October 2008
                    <br/>
                </a>
                <strong>Contact Name</strong>
                : Mrs. Jessy Samuel, Principal
                <br/>
                <strong>Activities:</strong>
                Educational institute for hearing impaired children, mainly
                from financially disadvantaged families.
                <br/>
                <strong>Volunteer Opportunities:</strong>
                Volunteers needed to teach writing to 5-10 year old children in
                the mornings and also teach basic computer skills and craft
                skills such as drawing and embroidery.
                <br/>
                <strong>Eicher Map Reference</strong>
                : K9
                <br/>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <br/>
                    <strong>20.Shristi Special Academy</strong>
                    <img
                        align="right"
                        src="http://www.owcbangalore.org/images/charities/Shristi_Special_Academy.jpg"
                        width="180"
                        height="120"
                    />
                    <br/>
                    13/1, 6th Cross, 9th G Main Rd, Behind BBMP Maternity
                    Hospital, Byraveshwaranagar, Moodelapalya, Nagarabhavi,
                    Bangalore 560 072
                    <br/>
                    Tel: +91-80-23180318
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:contactme@shristispeicalacademy.com">
                        contactme@shristispecialacademy.com
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/Shristi_2008-01.pdf"
                        target="_blank"
                    >
                        <strong>January 2008 </strong>
                    </a>
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/Shristi_2009-02-1.pdf"
                        target="_blank"
                    >
                        <strong>February 2009 </strong>
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Suchita Somashekaraiah, Co-Founder/Tech. Director
                    <br/>
                    <strong>Activities:</strong>
                    The school's overall objective is to enable self reliance
                    and improve the quality of life for mentally challenged and
                    autistic children. It runs many programmes, including early
                    intervention, autism awareness, ADHD, a respite care unit
                    and vocational training.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Volunteers needed to help in vocational training unit and
                    to visit villages for community based rehabilitation
                    program, working with children by doing activities, helping
                    with fund-raising and finding information on funding
                    agencies and procedures.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : D8
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="justify">
                    <strong>
                        21. Spastics Society of Karnataka
                        <br/>
                    </strong>
                    No. 31 5th Cross, Off 5th Main, Indiranagar 1st Stage,
                    Bangalore 560 038
                    <br/>
                    Tel: 91 80 4074 5900 or 9845409861
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:">office@spasticssocietyofkarnataka.org</a>
                    or
                    <br/>
                    <a href="mailto:rabiisaac@spastocsspcietyofkarnataka.org">
                        rabiisaac@spastocsspcietyofkarnataka.org
                    </a>
                    <br/>
                    <strong>Website:</strong>
                    <a href="http://www.spasticssocietyofkarnataka.org/">
                        www.spasticssocietyofkarnataka.org
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/SpasticsSociety_2008-10.pdf"
                        target="_blank"
                    >
                        <strong>October 2008 </strong>
                    </a>
                    <br/>
                    <strong>Contact Name</strong>
                    : Rabindran Isaac, Associate Director
                    <br/>
                    Spastics Society runs educational, medical, rehabilitation
                    and social services for infants, children and young adults
                    with neuromuscular disorders and development disorders.
                    <br/>
                    <strong>Volunteer Opportunities:</strong>
                    Many volunteer opportunities available, including helping
                    children with reading, music and play activities;
                    organizing school trips and sales of home-made product;
                    helping with fund-raising and finding information on
                    funding agencies and procedures.
                    <br/>
                    <strong>Eicher Map Reference</strong>
                    : K8
                    <br/>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div align="justify">
                    <br/>
                    22. Vision India
                    <br/>
                    Abayahsram, Kattamnallur, Virgonagar Post
                    <br/>
                    Bangalore, 560 049
                    <br/>
                    Tel:+9845220194
                    <br/>
                    <strong>Email:</strong>
                    <a href="mailto:jobyjv@rediffmail.com">
                        jobyjv@rediffmail.com
                    </a>
                    <br/>
                    <strong>Website:</strong>
                    <a
                        href="http://www.vision-india.net.in/home-page.html"
                        target="_blank"
                    >
                        www.vision_india.net.in
                    </a>
                    <br/>
                    <strong>Rangoli Article</strong>
                    :
                    <a
                        href="http://www.owcbangalore.org/CharityArticles/VisionIndia_2011-03.pdf"
                        target="_blank"
                    >
                        March 2011
                    </a>
                    <br/>
                    Contact Name: Joby Jacob Verghese,Trustee (9845220194)
                    <br/>
                    <strong>Activities:</strong>
                    A residential facility for mentally ill destitute women
                    whose primary goal is the psycho social rehabilitation of
                    these vagrant women found in and around the streets of
                    Bangalore.
                    <br/>
                    <strong>Volunteer Opportunities: </strong>
                    Volunteers needed (female only) to visit with the women and
                    help with simple rehabilitation activities including craft
                    and gardening.
                </div>
            </td>
        </tr>
    </tbody>
</table>
