<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="footer">
      <!-- About us -->
      <ul class="bot_dropdown">
        <li class="about_us">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
          <ul class="bot_dropdown-menu">
            <li><a href="/owc_club_info">Club Information</a></li>
            <li><a href="/mission_statement">Mission Statement</a></li>
            <li><a href="/journey">Journey so far</a></li>
            <!-- <li><a href="/contact">Contact</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- Contact Us -->
      <ul class="bot_dropdown">
        <li class="contact_us">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">Contact Us<span class="caret"></span></a>
          <ul class="bot_dropdown-menu">
            <li><a href="/contact">Contact Form</a></li>
            <li><a href="/executive_comittee">Executive Comittee</a></li>
            <li><a href="/trustee">Trustee</a></li>
          </ul>
        </li>
      </ul>
      <!-- Advertisements -->
      <ul class="bot_dropdown">
        <li class="advertisements">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">Advertisements<span class="caret"></span></a>
          <ul class="bot_dropdown-menu">
            <li><a href="/sponsor">Sponsors</a></li>
            <li><a href="/sponsor_form">Sponsor Form</a></li>
            <li><a href="/advertisements">Advertisements</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</footer>